:host {
    display: black;
}

.search-bar-container {
    padding: 0px 56px 0px 8px;
    background: rgb(198, 195, 195);
    border-radius: 32px;
    display: flex;
    align-items: center;

    > input {
        font-size: 1.1rem;
        outline: none;
        border: none;
        background: inherit;
        min-width: 352px;
    }
}

