<div class="space-small"></div>
<div class="d-flex justify-content-center align-items-center gap-4">
  <div>
    <img src=".\assets\icons\icon-128x128.png" alt="Logo" />
  </div>
  <div class="text-start">
    <p style="font-size: 3em">ChmuSK</p>
    <p style="font-size: 1.5em">JUST ADD IT!</p>
  </div>
</div>

<div class="space-small"></div>

<div class="row align-items-center justify-content-end">
  <div class="col-2"></div>
  <div class="col-8 text-center">
    <h1 class="display-6 text-shrink">
      <strong id="folder-name">My ChmuSK</strong>
    </h1>
  </div>
  <div class="col-2 text-center">
    <button
      mat-icon-button
      [matMenuTriggerFor]="beforeMenu"
      aria-label="Example icon-button with a menu"
    >
      <img
        class="img-fluid three-dots-icon"
        src=".\assets\icons\plus_icon.png"
        alt="edit_icon"
      />
    </button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button
        mat-menu-item
        (click)="addFolderFromInput()"
        (keydown.enter)="addFolderFromInput()"
      >
        <span tabindex="0"> Create folder </span>
      </button>
      <button
        mat-menu-item
        (click)="fileUpload.click()"
        (keydown.enter)="fileUpload.click()"
      >
        <span tabindex="0"> Add file </span>
        <input
          type="file"
          class="file-input"
          #fileUpload
          (change)="addFileFromInput($event)"
        />
      </button>
      <button
        mat-menu-item
        (click)="takePhoto()"
        (keydown.enter)="takePhoto()"
        tabindex="0"
      >
        <span> Take photo </span>
      </button>
    </mat-menu>
  </div>
</div>

<div class="space-medium"></div>

<ng-container #outlet [ngTemplateOutlet]="content"></ng-container>
<ng-template #content>
  <app-file-list></app-file-list>
</ng-template>
