<div class="row mb-3">
  <div class="col-2 text-center">
    <img class="img-fluid" src=".\assets\icons\file_icon.png" alt="file_icon" />
  </div>
  <div class="col-8">
    <a>
      <div class="row file-name">
        <div class="col-12">
          <p style="font-size: large">
            <strong>{{ fileData.filename }}</strong>
            <span>
              &lbbrk;{{ (this.fileSize / 1024).toFixed(2) }} KB&rbbrk;</span
            >
          </p>
        </div>
        <div class="col-12">
          <p>Last modified: {{ this.lastModifiedDate }}</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-2 text-center">
    <button
      mat-icon-button
      [matMenuTriggerFor]="beforeMenu"
      aria-label="Example icon-button with a menu"
    >
      <img
        class="img-fluid three-dots-icon"
        src=".\assets\icons\three_dots_icon.png"
        alt="edit_icon"
      />
    </button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button
        mat-menu-item
        (click)="changeFilename()"
        (keydown.enter)="changeFilename()"
      >
        <span tabindex="1"> Change name </span>
      </button>
      <button
        mat-menu-item
        (click)="deleteFile()"
        (keydown.enter)="deleteFile()"
      >
        <span tabindex="0"> Delete </span>
      </button>
    </mat-menu>
  </div>
</div>
