<div class="container">

    <div class="space-small"></div>
    <!-- LOGO ------------------------------------------------------------------------------- -->
    <div class="row logo-row align-items-center justify-content-center">
        <div class="col-2 text-center">
            <!-- Here should to be a back button, besides main folder -->
        </div>
        <div class="col-8 text-center">
            <img class="img-fluid" src="ChmuSK_text_logo_BG.png" alt="Logo">
        </div>
        <div class="col-2"></div>
    </div>

    <div class="space-small"></div>

    <!-- Folder name and plus button ------------------------------------------------------------------------------- -->
    <div class="row align-items-center justify-content-end">
        <div class="col-2"></div>
        <div class="col-8 text-center">
            <h1 class="display-6 text-shrink"><strong id="folder-name">My ChmuSK</strong></h1>
        </div>
        <div class="col-2 text-center">
            <img class="img-fluid" src="plus_icon.png" alt="Plus Icon">
        </div>
    </div>

    <div class="space-medium"></div>

    <!-- Folder  ------------------------------------------------------------------------------- -->
    <div class="row">
        <div class="col-2 text-center">
            <img class="img-fluid" src="folder_icon.png" alt="folder_icon">
        </div>
        <div class="col-8">
            <div class="row folder-name">
                <div class="col-12">
                    <strong class="fs-5">Desktop</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>12.04.2024</p>
                </div>
            </div>
        </div>
        <div class="col-2 text-center">
            <img class="img-fluid three-dots-icon" src="three_dots_icon.png" alt="edit_icon">
        </div>
    </div>

    <div class="space-small"></div>

    <!-- File ------------------------------------------------------------------------------- -->
    <div class="row  ">
        <div class="col-2 text-center">
            <img class="img-fluid" src="file_icon.png" alt="file_icon">
        </div>
        <div class="col-8">
            <div class="row file-name">
                <div class="col-12">
                    <strong style="font-size: large;">Praca Dyplomowa</strong>
                </div>
                <div class="col-12">
                    <p>Yesterday</p>
                </div>
            </div>
        </div>
        <div class="col-2 text-center">
            <img class="img-fluid three-dots-icon" src="three_dots_icon.png" alt="edit_icon">
        </div>
    </div>

    <div class="space-small"></div>
</div>

  
  
<router-outlet></router-outlet>
  